#sign-up-logo {
  position: absolute;
  top: 0;

  z-index: 3;

  :hover {
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    width: 420px;
  }

  @media (max-width: 900px) {
    width: 380px;
  }

  @media (max-width: 800px) {
    width: 300px;
  }
}

.sign-up-form {
  position: relative;
  text-align: center;

  @media (max-width: 900px) {
    zoom: 0.9;
  }

  .h1-form {
    color: #34cfff;
    font-size: 2.5rem;
    margin-bottom: 35px;
  }

  #sign-up-tie-icon {
    position: absolute;
    width: 8rem;
    filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.25));

    left: 50%;
    transform: translate(-50%, 0);
    top: -50px;
  }

  #sign-up-box {
    width: 802px;
    padding-top: 100px;
    margin-top: 200px;
    margin-bottom: 200px;

    @media (max-width: 800px) {
      margin-top: 180px;
    }

    input {
      margin: 20px 0;
    }

    button {
      width: 100%;
      margin-bottom: 20px;
      padding: 20px;

      #sign-in-with-google-icon {
        position: absolute;
        height: 150%;

        left: -4%;
        top: 50%;
        transform: translateY(-47%);
      }
    }

    #register-button {
      margin-top: 40px;
    }

    #sign-up-form-divider {
      margin-bottom: 20px;
    }
  }
}
