.products-page {
  .products-page-container {
    width: 80%;
    margin: auto;

    #add-products-button {
      margin-bottom: 70px;
    }

    #product-filter-select {
      width: 40%;
      margin-bottom: 50px;
    }
  }
}
