.products-page {
  .products-page-container {
    width: 80%;
    margin: auto;

    .empty-product-list-container {
      display: flex;
      align-self: center;

      margin-bottom: 150px;

      h1 {
        width: 60%;
        text-align: center;
        color: #34cfff;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 60px;
      }

      #empty-product-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        padding-bottom: 100px;

        img {
          filter: drop-shadow(0px 13px 20px rgba(0, 0, 0, 0.25));
        }
      }
    }

    #add-products-button {
      margin-bottom: 70px;
    }

    #product-filter-select {
      width: 40%;
      margin-bottom: 50px;
    }
  }
}
