.user-order-list {
  .user-order-list-box {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 10;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    min-height: 800px;
    padding: 60px;

    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      #beeafc;
    border: 5px solid #34cfff;
    box-sizing: border-box;
    box-shadow: 0px 21px 20px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    #user-order-list-close {
      position: absolute;
      left: 90%;
    }

    h1 {
      font-size: 2rem;
      color: #34cfff;
      text-align: center;
    }

    .in-progress-tag,
    .completed-tag {
      display: flex;
      width: fit-content;
      padding: 15px 50px;

      box-sizing: border-box;
      border-radius: 45.5px;

      h2 {
        font-size: 1.5rem;
      }
    }

    .in-progress-tag {
      color: #ebb600;
      background: linear-gradient(
        180deg,
        #c4c4c4 0%,
        #fff5d4 0.01%,
        #ffda59 100%
      );
      border: 4px solid #ebb600;
    }

    .completed-tag {
      color: #00c106;
      background: linear-gradient(
        180deg,
        #c4c4c4 0%,
        #ccffce 0.01%,
        #82ff86 100%
      );
      border: 4px solid #00eb34;
    }
  }
}
