.input-label {
  font-size: 1.8rem;
  margin-bottom: 15px;
  margin-left: 10px;
}

.input-text {
  color: #566777;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #e4f2f9;
  border: 5px solid #becad4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10rem;

  padding: 20px 40px;

  &::placeholder {
    color: #becad4;
  }
}

.input-text-area {
  padding: 20px 40px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #e4f2f9;
  border: 5px solid #becad4;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

.input-select {
  display: flex;
  position: relative;
  color: #8fa0af;
  width: 100%;
  padding: 20px 60px 20px 40px;

  cursor: pointer;
  user-select: none;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #e4f2f9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 72.5px;

  #input-select-icon {
    align-self: center;
    margin-right: 20px;
    height: 20px;
  }

  p {
    margin-left: 20px;
    color: #34cfff;
  }

  .input-select-image-box {
    display: flex;
    position: absolute;
    margin-left: 75%;
    height: 60px;
    width: 60px;

    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    img {
      width: 65%;
      object-fit: cover;
    }
  }

  .input-select-options {
    position: absolute;

    left: 0;
    top: 130%;
    width: 100%;

    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      #e4f2f9;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    z-index: 10;

    .select-option {
      width: auto;
      padding: 15px 15px 15px 35px;
      border-radius: 10rem;
      margin-right: 20px;

      &:hover {
        background: linear-gradient(
            180deg,
            #ffffff 10.2%,
            rgba(255, 255, 255, 0) 100%
          ),
          #aee4ff;
        border: 2px solid #34cfff;
      }

      &:first-child {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}

.input-password {
  position: relative;
  width: 100%;

  #input-password-icon-disabled {
    position: absolute;
    width: 3rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 80%;

    filter: grayscale(1);
    opacity: 60%;
  }

  #input-password-icon-active {
    position: absolute;
    width: 3rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 80%;
  }

  input {
    padding: 20px 160px 20px 40px;
  }
}

.input-image {
  color: #e79600;

  .image-area {
    position: relative;
    width: 880px;
    height: 603px;
    text-align: center;

    background: linear-gradient(180deg, #fde381 0%, #ffbd41 100%);
    border: 5px dashed #dfaf07;
    border-radius: 34px;
    transition: all ease-in-out 0.3s;

    .image-area-no-image {
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
        filter: brightness(1.05);
      }

      &:active {
        filter: contrast(0.9);
      }
    }

    #input-image-delete-button {
      width: 120px;
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .input-loaded-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 34px;

      :active {
        filter: contrast(1);
      }
    }

    .image-area-input {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;

      opacity: 0%;

      &:hover {
        cursor: pointer;
      }
    }

    .image-area-description {
      font-size: 2rem;
    }
  }
}

.input-number {
  input {
    color: #566777;

    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      #e4f2f9;
    border: 5px solid #becad4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10rem;

    padding: 20px 40px;
  }
}

.input-step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 95px;

  color: #566777;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #e4f2f9;
  border: 5px solid #becad4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10rem;

  padding: 20px 40px;

  img {
    width: 90px;
    height: 90px;

    &:nth-of-type(1) {
      margin-right: 30%;
    }

    &:nth-of-type(2) {
      margin-left: 30%;
    }
  }
}
